---
import AboutHeroImage from '../assets/c-d-x-PDX_a_82obo-unsplash.jpg';
import BaseLayout from "../layouts/BaseLayout.astro";
import {Image} from "astro:assets";
import Accreditation from "../components/Accreditation.astro";
import Prose from '../components/Prose.astro';

const imageAuthor = "C D-X"
const imageAuthorLink = "https://unsplash.com/@cdx2?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
const imageSource = "Unsplash"
const imageSourceLink = "https://unsplash.com/photos/flatlay-photography-of-wireless-headphones-PDX_a_82obo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
const title = "About Me & Tunequil Journal"
const description = "Why I created Tunequil Journal"
---

<BaseLayout
        title={title}
        description={description}


>
    <Prose><h1>{title}</h1>


        {AboutHeroImage && (

                <Image width={1200} src={AboutHeroImage} alt=""/>


        )}
        {imageSource && imageSourceLink && imageAuthor && imageAuthorLink &&
                <Accreditation heroImage={AboutHeroImage} imageAuthor={imageAuthor}
                               imageAuthorLink={imageAuthorLink} imageSource={imageSource}
                               imageSourceLink={imageSourceLink} alt=""/>}

        <h2>What is Tunequil Journal?</h2>

        <p>Tunequil Journal — “Tunequil” is a blend of tune and tranquility — a space where I share calming,
            soothing
            music, hoping the music brings moments of stillness as we navigate the ebb and flow.</p>

        <h2>What makes Tunequil Journal special?</h2>

        <p>The music here is not chosen based on numbers or names, but by how it makes us feel - calm and uplifted.
            And
            that is what matters the most.</p>

        <h2>Types of music covered here?</h2>

        <p>Hmm... I’ve been listening to folk-pop recently. Happy, bluesy tunes are great too. Soul is great as
            well.
            Soft
            rock and soft pop are fine. Oh, country-pop music is quite okay too -no rap or metal songs. I like any
            easy-listening music. Also, just to let you know, I’ll try to share songs that at least sound good. I
            don’t
            want
            the music to deafen you or bore the crap out of you.</p>

        <h2>Connect with me</h2>

        <p>You can follow me at: <a href="https://x.com/tunequiljournal" target="_blank">X</a>, or
            <a href="https://www.instagram.com/tunequiljournal" target="_blank">
                Instagram</a>. I would love to hear your thoughts. Tell me what music calms you
            or
            brings you joy. Feel free to let me know how I can improve.</p>

        <p>All the Best - enjoy reading the blog and have fun with the music.</p></Prose>


</BaseLayout>
