---
import {getCollection} from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
import {Image} from "astro:assets";
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";
import FormattedDate from "../components/FormattedDate.astro";
import Button from "../components/Button.astro";
import {getBlogPosts} from "../lib/content";

const posts = (await getBlogPosts()).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const post = posts[0]
---

<BaseLayout>
    <Prose class="px-4 pb-3">
        <h1>Welcome to my Listening Refuge</h1>

        <p>Music comforts me when I feel down, motivates me when I feel lazy, grounds me when I feel shaken, stirs my
            courage when I face hardship, and adds to my joy and excitement during happy occasions.</p>
        <p>I want to share with you music like these. I hope you will enjoy them. 🥰</p>
        <hr class="my-8 border-t border-gray-200"/>
    </Prose>
    <div class="px-4">
        <h2 class="font-bold text-3xl ">Here's My Newest Post</h2>
        <article class="pb-3">
            <a href={`/blog/${post.id}/`}>
                {post.data.heroImage && (

                        <Image
                                class="w-full mt-6 mb-4"
                                widths={[400, 640, 800, 1280]}
                                sizes="(max-width: 639px) 100vw, 640px"

                                src={post.data.heroImage}
                                alt={`${post.data.title}'s album cover`}

                        />
                )}
            </a>

            <div class="pb-3 px-1">


                <h3 class="text-xl font-semibold">{post.data.title}</h3>
                <p class="font-medium ">
                    <FormattedDate date={post.data.pubDate}/>
                </p>
                <div class="py-3">
                    <PostExcerpt post={post} smartEllipsis={true} maxLength={200}/>
                </div>
                <a class="no-underline text-lime-600 font-bold" href={`/blog/${post.id}/`}>Read More</a>
            </div>
        </article>
        <Button href='/blog' text="Explore more Posts"/>
    </div>

</BaseLayout>