---
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

import {Image} from 'astro:assets'
import Prose from "../components/Prose.astro";
import Button from "../components/Button.astro";




const {
    title,
    description,
    pubDate,
    updatedDate,
    youtubeId,
    heroImage, tags
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>


    <Prose class={`bg-stone-50 w-[90%]`}>
        {heroImage && (


                <div class={``}>
                    <Image widths={[400, 640, 800, 1280]}
                           sizes="(max-width: 639px) 100vw, 640px" src={heroImage} alt=""/>
                </div>


        )}

        <div class="px-3 pb-3">

            <h1>{title}</h1>


            <FormattedDate date={pubDate}/>
            {
                updatedDate && (
                            <div class="">
                                Last updated on
                                <FormattedDate date={updatedDate}/>
                            </div>
                )
            }

            <p class="flex flex-wrap gap-2">
                {tags?.map((tag: any) =>
                        <Button href={`/tags/${tag}/`} text={tag}/>)
                }
            </p>

            <hr/>
            {youtubeId && (
                    <iframe
                            class="w-full aspect-video"

                            src={`https://www.youtube-nocookie.com/embed/${youtubeId}`}
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen>
                    </iframe>
            )}
            <slot/>
        </div>
    </Prose>

</BaseLayout>
