---
import {Image} from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt'
import type {CollectionEntry} from "astro:content";
type Post = CollectionEntry<'blog'>
interface Props {
    posts: Post[];
    title?: string

}
const {posts, title} = Astro.props;
---


<div class="grid justify-center max-w-6xl mx-auto">
    {title && (<h1 class="text-4xl font-black pt-[1em]">{title}</h1>)}

    <ul class="block  py-10 list-none px-0 ">
        {posts.map((post, i) => (
                <li class={`${i === 0 ? 'col-span-2' : "col-span-1"} `}>
                    <a href={`/blog/${post.id}/`}>
                        {post.data.heroImage && (

                                <Image

                                        width={1200}

                                        src={post.data.heroImage}
                                        alt=""

                                />
                        )}
                    </a>

                    <div class={`p-3   rounded-b-md rounded-bl-md shadow-sm mb-6 `}>


                        <a href={`/blog/${post.id}/`}>
                            <h4 class="text-xl mt-2">{post.data.title}</h4>
                            <p class="date">
                                <FormattedDate date={post.data.pubDate}/>
                            </p>
                            <PostExcerpt post={post} smartEllipsis={true} maxLength={0}/>
                        </a>
                    </div>
                </li>
        ))}

    </ul>
</div>


