---
import {getCollection} from "astro:content";
import BaseLayout from "./BaseLayout.astro";

import Prose from '../components/Prose.astro'


import {Image} from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
import Accreditation from "../components/Accreditation.astro";
import {COLOR_SECONDARY, COLOR_SECONDARY_SM} from "../consts";



const {tag} = Astro.params;
const title = `Posts tagged with ${tag}`
const description = `Find posts tagged as ${tag}`
const {posts} = Astro.props;
---
<BaseLayout title={title} description={description}>


    <div class="grid justify-center max-w-6xl mx-auto">
        <h1 class="text-4xl font-black pt-[1em]">{title}</h1>

        <ul class="grid grid-cols-2 gap-x-6 gap-y-8 py-10 list-none px-0 ">
            {posts.map((post, i) => (
                    <li class={`${i === 0 ? 'col-span-2' : "col-span-1"} `}>
                        <a href={`/blog/${post.id}/`}>
                            {post.data.heroImage && (

                                    <Image

                                            width={i === 0 ? 1200 : 600}

                                            src={post.data.heroImage}
                                            alt=""

                                    />
                            )}
                        </a>

                        <div class={`p-3 ${COLOR_SECONDARY_SM}  rounded-b-md rounded-bl-md shadow-sm mb-6 `}>
                            {post.data.imageAuthor && post.data.imageAuthorLink && post.data.imageSource && post.data.imageSourceLink && (
                                    <Accreditation
                                            imageAuthor={post.data.imageAuthor}
                                            imageAuthorLink={post.data.imageAuthorLink}
                                            imageSource={post.data.imageSource}
                                            imageSourceLink={post.data.imageSourceLink}
                                            alt=""
                                    />
                            )}

                            <a href={`/blog/${post.id}/`}>
                                <h4 class="text-xl mt-2">{post.data.title}</h4>
                                <p class="date">
                                    <FormattedDate date={post.data.pubDate}/>
                                </p>
                            </a>
                        </div>
                    </li>
            ))}

        </ul>
    </div>


</BaseLayout>